## Hacktoberfest

<https://hacktoberfest.digitalocean.com/>

<https://webuiltthisforhacktoberfest.netlify.com/>

<div style="">
  <div style="width: 50%;background-color: #411e2f;margin: auto">
    <img src="img/hacktoberfest.png" alt="" style="width: 100%;margin: auto"/>
  </div>
</div>

---

## Anna's Hacktoberfests

---

##### 2016

![](img/2016-PRs.png)

---

##### 2017

![](img/2017-PRs.png)

---

![](img/conference-pr.png)

