## Resources

---

### TLDR; Legal

<https://tldrlegal.com>

---

### Open Source Initiative

<https://opensource.org>

---

### Open Source Guide

<https://opensource.guide>

---

### Free Software Foundation

<https://fsf.org>
