## So why is it important?

---

![Tracey the farmer and her tractor that she can't legally self-repair](img/farmer-tractor.png)

<https://www.wired.com/story/john-deere-farmers-right-to-repair/>

---

![](img/laptop.png)

<https://www.digitaltrends.com/computing/apple-locking-down-macs-from-repairs/>

---

![](img/laptop-windows.png)

<https://itsfoss.com/linux-better-than-windows/>
