@import "reveal-js/css/theme/template/mixins";

$font-path: "fonts" !default;
@font-face{
  font-family: 'Roboto Slab';
  src: url('#{font-path}/roboto/RobotoSlab-Regular.ttf');
  font-weight: 400;
}
@font-face{
  font-family: 'Lato';
  src: url('#{font-path}/lato/Lato-Bold.ttf');
  font-weight: 400;
}
@font-face{
  font-family: 'Ubuntu';
  src: url('fonts/ubuntu/Ubuntu.ttf');
  font-weight: 400;
}

$theme-color-main: #ff5e00;
$theme-color-secondary: #ff5e00;
/********** SETTINGS *************/
$backgroundColor: #ffffff;

// Primary/body text
$mainFont: "Roboto Slab", serif;
$mainFontSize: 1.4em;
$mainColor: #2b2b2b;

// Vertical spacing between blocks of text
$blockMargin: 20px;

// Headings
$headingMargin: 0 0 $blockMargin 0;
$headingFont: "Lato", sans-serif;
$headingColor: #141414;
$headingLineHeight: 1.2;
$headingLetterSpacing: normal;
$headingTextTransform: normal;
$headingTextShadow: none;
$headingFontWeight: normal;
$heading1TextShadow: $headingTextShadow;

$heading1Size: 2.6em;
$heading2Size: 2.2em;
$heading3Size: 1.7em;
$heading4Size: 1.4em;

$headingFontUbuntu: "Ubuntu", "Lato", sans-serif;

// Links and actions
$linkColor: $theme-color-main;
$linkColorHover: lighten( $linkColor, 20% );
$linkFontSize: 1.2em;

// Text selection
$selectionBackgroundColor: $theme-color-secondary;
$selectionColor: #fff;

// Generates the presentation background, can be overridden
// to return a background image or gradient
@mixin bodyBackground() {
	background: $backgroundColor;
}

/********** END SETTINGS *************/

.reveal .ubuntu{
  h1,
  h2,
  h3,
  h4,
  h5 {
	  font-family: $headingFontUbuntu;
  }
}

@import "reveal-js/css/theme/template/theme";

.reveal footer {
      position: absolute;
      top: 0;
      left: 0;
      padding: 0;
      margin: 1rem;
      font-size: 100%;
}
.reveal a {
  font-size: $linkFontSize;
  font-weight: 600;
}
.reveal a:hover {
  font-weight: 600;
  font-size: 1.6em;
  font-size: $linkFontSize;
}
.reveal .blockquote {
  font-size: 1.6em;
  font-style: italic;
}
.reveal .blockquote-author{
  text-align:right;
  font-size: 1em;
}
.reveal h4{
  text-transform:capitalize;
}

section.has-light-background,
section.has-light-background h1,
section.has-light-background h2,
section.has-light-background h3,
section.has-light-background h4,
section.has-light-background h5,
section.has-light-background h6 {
  color: #141414; }

.reveal .controls {
  right: 50px;
  bottom: 50px; }

.line {
  content: '';
  position: fixed;
  background: $theme-color-main;
  z-index: 105;
}
.line.top {
  left: 0;
  top: 0;
  width: 100%;
  height: 30px;
}
@media (max-width: 840px) {
    .line.top {
      height: 15px; }
}
.line.bottom {
  left: 0;
  top: auto;
  bottom: 0;
  width: 100%;
  height: 30px;
}
@media (max-width: 840px) {
  .line.bottom {
  height: 15px; }
}
.line.left {
  left: 0;
  top: 0;
  width: 30px;
  height: 200%;
}
@media (max-width: 840px) {
 .line.left {
  width: 15px; }
}
.line.right {
  left: auto;
  right: 0;
  top: 0;
  width: 30px;
  height: 200%;
}
@media (max-width: 840px) {
  .line.right {
  width: 15px; }
}

.reveal.has-dark-background .line {
  display: none;
}

.reveal p {
  margin: 20px 0;
  line-height: 1.3;
}

.reveal .file-tree {
    overflow-x: auto;
    padding: 1.5rem;
    border: 2px solid;
    border-radius: 7px;
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    margin-bottom: 2.5em;
    margin-top: 2.5em;
}

/* File tree lists */
.reveal .file-tree {
    overflow-x: auto;
}
.reveal .file-tree ul {
    font-family: Courier, monospace;
    margin: 0;
    padding: 0;
    padding-left: 3rem;
    list-style: none;
    line-height: 1.25;
    position: relative;
}
.reveal .file-tree > ul {
    padding-left: 0;
    overflow-x: auto;
    overflow-y: hidden;
}
.reveal .file-tree li {
    background: #fefefe;
    position: relative;
    white-space: nowrap;
}
.reveal .file-tree li + li {
    margin-top: 0;
}
.reveal .file-tree li:not(:last-child) > ul::before {
    content: '\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 1em;
    white-space: normal;
}
.reveal .file-tree li::before {
    content: '\251C\2500\2500\0020';
}
.reveal .file-tree li:last-child::before {
    content: '\2514\2500\2500\0020';
}

.reveal .big-list{
  align-content: left;
  text-align: left;
  margin: auto;
  margin-left: 30%;
  font-size: $heading2Size;
  font-family: $headingFont;
}

.reveal .no-border{
  border: none;
}

.reveal .no-box-shadow{
  box-shadow: none;
}

.reveal .footnote-quote{
  font-style: italic;
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 62%;
}

.reveal .diversity-chart{
  text-align: left;
  margin: 0;
  padding: 4px;
  height: 30%;
  display: inline-block;
  &.majority{
    color: #353a3d;
    background-color: #eed369;
  }
  &.minority{
    text-align: right;
    color: #ffffff;
    background-color: #083045;

  }
}