<span style="font-size: 2.5em">"</span>
<span class='blockquote {{ .Get "class" }}'>
  {{ with .Get "c" }}{{ . }}{{ end }}
</span>
<span style="font-size: 2.5em">"</span>

<p class="blockquote-author">{{ with .Get "a" }}- {{ . }}{{ end }}</p>
