<div style="margin:auto;">
 <div style="display: flex; flex-wrap: wrap;">
  <div style='flex: 0 0 50%; '>
    {{ with .Get "content-left" }}
        <p>{{ . }}</p>
    {{ end }}
    {{ if .Get "img-url-left" }}
        <img style='border:0;box-shadow:none; width: {{ with .Get "width" }}{{ . }}{{ else }}40{{ end }}%' src='{{ with .Get "img-url-left" }}{{ . }}{{ end }}'>
    {{ end }}
  </div>
  <div style='flex: 0 0 50%; '>
    {{ with .Get "content-right" }}
        <p>{{ . }}</p>
    {{ end }}
    {{ if  "img-url-right" }}
        <img style='border:0;box-shadow:none; width: {{ with .Get "width" }}{{ . }}{{ else }}40{{ end }}%' src='{{ with .Get "img-url-right" }}{{ . }}{{ end }}'>
    {{ end }}
  </div>
 </div>
</div>
